:root {
  --primary: #7daacb;
  --primary-hover: #6488a2;

  --link: #c44a3a;
  --link-hover: #8c3428;

  --background-light: #fffdeb;
  --background-dark: #2c2c2c;

  --text-dark: #fffdeb;
  --text-light: #2c2c2c;
  --text-muted: #9f8383;

  --button-disabled: #dddad0;
  --text-disabled: #7a7a73;
}
