.container {
  font-size: clamp(6rem, 25vw, 12rem);
  text-align: center;
  line-height: 1;
}

input {
  text-align: center;
  padding: 0.8rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--primary);
  color: var(--text-light);
  outline: none;
}

input:focus {
  border: 0.2rem solid var(--primary-hover);
}

input:disabled {
  border: 0.2rem solid transparent;
  background-color: var(--button-disabled);
}
