.button {
  border: none;
  background-color: var(--primary);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 2.4rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(80%);
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.primary {
  background-color: var(--primary);
  color: var(--text-dark);
}

.secondary {
  background-color: var(--link);
  color: var(--text-light);
}
